.filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  top: 0;
  width: 17vw;
  border: 1px black solid;
  background-color: black;
}
h2 {
  margin-top: 40%;
  color: white;
}
.list {
  list-style: none;
  margin: 30px 0;
  font-size: larger;
}
.cat_button {
  color: rgb(190, 107, 155);
  border: none;
  background: transparent;
}
.cat_button:hover {
  color: crimson;
}
.close_btn {
  position: relative;
  left: 100px;
  bottom: 50px;
  margin-top: 20%;
}
