.prod_page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.body {
  display: flex;
}
/* @media screen and (max-width: 1181px) {
  .prod_page {
    width: 100vw;
  }
} */
