.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 130px;
}

.links {
    display: flex;
    justify-content: space-between;
    font-size: larger;
    align-items: center;
    text-decoration: none;
    color: blueviolet;
    flex-direction: row;
    width: 30%;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

}

.log {
    font-size: larger;
    width: 160px;
    height: 70px;
    border-radius: 30px;
}